<?xml version="1.0"?>
    <config>
        <global>
            <modules>
                <Academia_Aula03Exercicio01>
                    <version>1.0.0</version>
                </Academia_Aula03Exercicio01>
            </modules>

            <blocks>
                <Academia_Aula03Exercicio01>
                    <class>Academia_Aula03Exercicio01_Block</class>
                </Academia_Aula03Exercicio01>
            </blocks>
        </global>

        <frontend>
            <routers>
                <academiaaula03exercicio01>
                    <use>standard</use>
                    <args>
                        <module>Academia_Aula03Exercicio01</module>
                        <frontName>academiaaula0301</frontName>
                    </args>
                </academiaaula03exercicio01>
            </routers>
        </frontend>
    </config>