<?xml version="1.0"?>
    <config>
        <global>
            <modules>
                <Academia_HelloWorld>
                    <version>1.0.0</version>
                </Academia_HelloWorld>
            </modules>

            <blocks>
                <Academia_HelloWorld>
                    <class>Academia_HelloWorld_Block</class>
                </Academia_HelloWorld>
            </blocks>
        </global>

        <frontend>
            <routers>
                <helloworldacademia>
                    <use>standard</use>
                    <args>
                        <module>Academia_HelloWorld</module>
                        <frontName>helloworldacademia</frontName>
                    </args>
                </helloworldacademia>
            </routers>
        </frontend>
    </config>